.header {
  text-align: center;
  margin-top: 10px;
}

:root {
  background-color: #ebebeb;
}
/*NAV BAR */
.navBar-container{
  margin-left: 200px;
  margin-right: 200px;
  border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}
.navBar-section{
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 30px;

  overflow: hidden;

  background-color: #0b0e22d2;
  border-radius: 0px,0px,30px,30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px ;
}

.navBar-item{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navBar-item-logo{
  width: 70px;
  height: 70px;
  float: left;
}
.navBar-item-seatch{
  margin-right: 200px;
  margin-left: 200px;
}
.navBar-item-profile{
  float:right;
  width: 300px;
  height: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;


}
.ico-profile{
  float: left;
  margin: 5px;
}
.tl-profile{
  margin: 5px;
}
.titulo{
  color: white;
  font-size: 20px;
}


/*-----------*/
.container-wishlist {

  background-color: #ebebeb;
}
.bx-ws{
  margin-left: 20px;
  font-weight: bold;
}
.clr-complete{
  color: #272d66;
  font-weight: normal;
}
.btn-addW{
  font-weight: bold;
  background-color: white;
}
.btn-addW:hover{
  background-color: #272d66;
  color: #ebebeb;
  font-weight: bold;
}
.logo {
  width: 5%;
  margin-bottom: 5px;
}

.interface {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.wishInput-container {
  margin: 20px;
}

/*ICON WISH INFO */
.ico-info-W{
  margin-left: 20px;

}

.ico-info-W:hover{
  margin-left: 20px;
  box-shadow: 0 0 10px #00a2ff;

}

.ico-delete-W{
  margin-left: 20px;
}
.ico-delete-W:hover{
  margin-left: 20px;
  box-shadow: 0 0 10px #ff0000;
}
.bt-info{
  text-decoration: none;
}

.head-modal-info{
  color:white;
  background-color: #0b0e22d2;
}
