.header {
  text-align: center;
  margin-top: 10px;
}

:root {
  background-color: #ebebeb;
}

.container-wishlist {

  background-color: #ebebeb;
}
.bx-ws{
  margin-left: 20px;
  font-weight: bold;
}
.clr-complete{
  color: #272d66;
  font-weight: normal;
}
.btn-addW{
  font-weight: bold;
  background-color: white;
}
.btn-addW:hover{
  background-color: #272d66;
  color: #ebebeb;
  font-weight: bold;
}
.logo {
  width: 5%;
  margin-bottom: 5px;
}

.interface {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.wishInput-container {
  margin: 20px;
}