/*  ESTILOS DEL HEADER  */
.header {
  text-align: center;
  margin-top: 10px;
}
/* ________________________________________________________________ */

/*  ESTILOS DEL ROOT - Afecta a toda la web */
:root {
  background-color: #ebebeb;
}
/* ________________________________________________________________ */

.interface {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

/* ________________________________________________________________ */

/*  ESTILOS BARRA SUPERIOR DE NAVEGAICON  */
.navBar-container{
  margin-left: 200px;
  margin-right: 200px;
  border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}
.navBar-section{
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 30px;

  overflow: hidden;

  background-color: #0b0e22d2;
  border-radius: 0px,0px,30px,30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px ;
}

.navBar-item{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navBar-item-logo{
  width: 70px;
  height: 70px;
  float: left;
}

.navBar-item-profile{
  float:right;
  width: 300px;
  height: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* ________________________________________________________________ */

/*  ESTILOS ICONO DEL BOTON PERFIL  */
.ico-profile{
  float: left;
  margin: 5px;
}
/* ________________________________________________________________ */

/*  ESTILOS TITULO DEL BOTON PERFIL */
.tl-profile{
  margin: 5px;
}

/* ________________________________________________________________ */

/*  SECCIONES */

/*  ESTILOS SECCIONES DE BUSCADOR Y AÑADIR */
.sections-inputs{
  border: 1px solid rgb(202, 202, 202);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 20px #ffffff;

}
/*  ESTILOS TITULOS DE SECCIONES  BUSCADOR Y AÑADIR */
.title-section{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ________________________________________________________________ */

/*  ESTILOS CONTENEDOR LISTA DE DESEOS */
.container-wishlist {
  background-color: #ebebeb;
}

/*  ESTILOS TITULO DE ELEMENTOS DE LA LISTA */
.bx-ws{
  margin-left: 20px;
  font-weight: bold;
}

/*  ESTILOS QUE CAMBIAN AL COMPLETAR UN DESEO */
.clr-complete{
  color: #272d66;
  font-weight: normal;
}
/* ________________________________________________________________ */

/* ESTILOS BOTON AÑADIR DESEO */
.btn-addW{
  font-weight: bold;
  background-color: white;
}
.btn-addW:hover{
  background-color: #272d66;
  color: #ebebeb;
  font-weight: bold;
}
/* ________________________________________________________________ */

.logo {
  width: 5%;
  margin-bottom: 5px;
}

/* ________________________________________________________________ */

.wishInput-container {
  margin: 20px;
}

/* ________________________________________________________________ */

/*ESTILO ICONO INFORMACION DEL DESEO*/
.ico-info-W{
  margin-left: 20px;

}

.ico-info-W:hover{
  margin-left: 20px;
  box-shadow: 0 0 10px #00a2ff;

}

/* ________________________________________________________________ */

/*ESTILO ICONO BORRAR DESEO*/

.ico-delete-W{
  margin-left: 20px;
}
.ico-delete-W:hover{
  margin-left: 20px;
  box-shadow: 0 0 10px #ff0000;
}

/* ________________________________________________________________ */

/*ESTILO BOTON INFORMACION DEL DESEO*/
.bt-info{
  text-decoration: none;
}

/* ________________________________________________________________ */

/*ESTILO BOTON INFORMACION DEL DESEO*/
.head-modal-info{
  color:white;
  background-color: #0b0e22d2;
}

/* ________________________________________________________________ */

/*ESTILO BOTON PERFIL*/

.bt-profile{
  box-shadow: 0 0 10px #ffdd00;
}
.bt-profile:hover{
  box-shadow: 0 0 10px #ff000000;

}

/* ________________________________________________________________ */

/*ESTILO BOTON CERRAR MODALES*/
.tl-seconday-search{
  color: gray
}
/* ________________________________________________________________ */

.tamaño{
  height: 300px;

}
/* ________________________________________________________________ */
